= render partial: 'layouts/navbar'

.container-fluid
  .row
    .col-md-10
      .centered.top_div
        %br
        .inner_div.header-div
          %h1.text-center= "#{@comic.title} forum"
          %br
          .center-content
            =link_to 'New thread', new_comic_forum_group_path(@comic, 1), class: 'btn btn-primary'
          %br
      - if @threads.empty?
        .inner_div
          This forum has no threads yet.
      - else
        - @threads.each do |thread|
          = link_to comic_forum_group_path(@comic, @forum, thread) do
            .inner_div.thread
              %h3= thread.title
              %p.text= thread.description
    .col-md-2
      .sidebar-nav-fixed.pull-right.affix
        = image_tag(image_path('banner.gif'), class: 'd-inline-block advertising')
