.container
  .gray.center.editprofile
    %h2.text-center Sign up
    %br
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      .form-group
        = f.input :email, label: 'E-mail', required: true
      .form-group
        = f.input :password, label: 'Contraseña', required: true
      .form-group
        = f.input :password_confirmation, label: 'Confirmar contraseña', required: true
      .form-group
        = f.input :first_name, label: 'Nombre', required: true
      .form-group
        = f.input :last_name, label: 'Apellidos', required: true
      .form-group
        %label Foto de perfil
        = f.file_field :avatar

      %br
      .actions.text-center
        .row
          .col
            = f.button :submit, 'Enviar', class: 'btn btn-success'
          .col
            = link_to 'Volver', new_user_session_path, class: 'btn btn-primary'