= render partial: 'layouts/navbar'

.container-fluid
  .row
    .col-md-10
      .comic-wrapper
        .comic
          .text-center
            %h1 New Publication
          .inner_div
            = simple_form_for [@comic, @publication] do |f|
              %h4 Publication:
              .form-group
                = f.input :attachment, as: :file, label: false
              %h4 Comment:
              .form-group
                = f.input :comment, label: false, class: 'form-control'
              %center
                = f.submit 'Upload!', class: 'btn btn-primary'
    .col-md-2
      .sidebar-nav-fixed.pull-right.affix
        = image_tag(image_path('banner.gif'), class: 'd-inline-block advertising')