= render partial: 'layouts/navbar'

%br
- unless @prev.nil?
  = link_to comic_publication_path(@comic, @prev) do
    .prev-publication
      =icon('angle-left')
.publication.center-content
  = image_tag( image_url(@publication.attachment))
.publication.center-content
  %br
    %p= @publication.comment
- unless @next.nil?
  = link_to comic_publication_path(@comic, @next) do
    .next-publication
      =icon('angle-right')
