%p#notice= notice

%p
  %b Comic:
  = @publication.comic
%p
  %b Free:
  = @publication.free
%p
  %b Page:
  = @publication.page


= link_to 'Edit', edit_publication_path(@publication)
\|
= link_to 'Back', publications_path
