= simple_form_for(@group) do |f|
  = f.error_notification

  .form-inputs
    = f.association :forum
    = f.association :user
    = f.input :title
    = f.input :text

  .form-actions
    = f.button :submit
