= render partial: 'layouts/navbar'

.container-fluid
  .row
    .col-md-10
      .centered.top_div
        %br
        .inner_div.header-div
          %h2= @thread.title
          %p.text= @thread.description
          %br
        .inner_div
          %h4 Post your comment here:
          = simple_form_for([@comic, @forum, @thread, @comment]) do |f|
            = f.text_area :body, class: 'w-100'
            = f.submit 'Submit', class: 'btn btn-primary'
          %br
      - if @comments.empty?
        .inner_div.thread
          This thread has no comments yet.
      - else
        - @comments.each do |comment|
          .inner_div.thread
            %p.text= comment.body
            %p.info=comment.user.first_name
    .col-md-2
      .sidebar-nav-fixed.pull-right.affix
        = image_tag(image_path('banner.gif'), class: 'd-inline-block advertising')
