= simple_form_for(@comic) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user
    = f.input :title
    = f.input :price
    = f.input :category
    = f.input :average_rating
    = f.input :cover, as: :file

  .form-actions
    = f.button :submit
