-#= simple_form_for(@comic) do |f|
-#  = f.error_notification
-#
-#  .form-inputs
-#    = f.association :user
-#    = f.input :title
-#    = f.input :price
-#    = f.input :category
-#    = f.input :average_rating
-#    = f.input :cover, as: :file
-#
-#  .form-actions
-#    = f.button :submit
.outer_div
  .content_div
    #centered.top_div
      %br/
      .inner_div
        :javascript
          document.write('<a class="btn btn-default btn btn-primary" style="float:left; margin:8px; margin-left:12px;" href="' + document.referrer + '">Back</a>');
        %h1 WebComic       
        %h2 New comic
        %p.text
          At this page you can create a new comic. Please fill in all relevant fields.
        %br/
    #centered.top_div
      .inner_div
        = simple_form_for [@comic] do |f|
          %h4 Select the user:
          %div{:style => "width:100%; padding-left:16px; padding-right:16px;"}
            .form-group
              = f.association :user, label: false, readonly: true
            -#%select#comic_user_id.inputtext{:name => "comic[user_id]"}
            -#  %option{:value => "1"} prueba
          %h4 Enter the comic title:
          %div{:style => "width:100%; padding-left:16px; padding-right:16px;"}
            .form-group
              = f.input :title, label: false
            -#%input#comic_title.inputtext{:name => "comic[title]", :type => "text"}/
          %h4 Enter the comic price:
          %div{:style => "width:100%; padding-left:16px; padding-right:16px;"}
            -#%input#comic_price.inputtext{:name => "comic[price]", :step => "any", :type => "number"}/
            .form-group
              = f.input :price, label: false
          %h4 Enter the comic category:
          %div{:style => "width:100%; padding-left:16px; padding-right:16px;"}
            -#%input#comic_category.inputtext{:name => "comic[category]", :type => "text"}/
            .form-group
              = f.input :category, label: false
          %h4 Select a comic cover (image):
          %div{:style => "width:100%; padding-left:16px; padding-right:16px;"}
            %input#comic_cover.btn.btn-default.btn.btn-primary{:name => "comic[cover]", :type => "file"}/
            -#.form-group
            -#  = f.input :attachment, as: :file, label: false
          %center
            %input.btn.btn-default.btn.btn-primary{"data-disable-with" => "Create Comic", :name => "commit", :title => "Create a new comic", :type => "submit", :value => "Create Comic"}/
          %br/
  .banner_div
    %div{:style => "position:fixed"}
      = image_tag(image_path("banner.gif"))

