= render partial: 'layouts/navbar'

.container-fluid
  .row
    .col-md-10
      .comic-wrapper
        .comic
          .row
            .cover.col-md-4
              -if (can? :read, @comic) || (@comic.price.zero? || @comic.paid_by?(current_user))
                = link_to(comic_publications_path(@comic)) do
                  -if @comic.cover.present?
                    =image_tag(image_path(@comic.cover))
                  -else
                    =image_tag(image_path('default-cover.jpg'), width: 90)
                = link_to 'Read It!', comic_publications_path(@comic), class: 'btn btn-primary w-100'
              -else
                -if @comic.cover.present?
                  =image_tag(image_path(@comic.cover))
                -else
                  =image_tag(image_path('default-cover.jpg'), width: 90)
              .forum
                =link_to 'General Forum', comic_forum_path(@comic, @forums.find_by(topic: 'General')), type: 'button', class: 'btn btn-default-forum'
                =link_to 'Speculate Forum', comic_forum_path(@comic, @forums.find_by(topic: 'Speculate')), type: 'button', class: 'btn btn-default-forum'
            .details.col-md-8
              - if @comic.user_id == current_user.id
                .center-content
                  = link_to 'Edit comic', edit_comic_path(@comic), class: 'btn btn-secondary', type: 'button', style: 'margin-right: 40px'
                  = link_to 'New publication', new_comic_publication_path(@comic), class: 'btn btn-secondary', type: 'button'
                %br
                %br
              %h3.product-title.text-center
                %strong= @comic.title
              %p.product-description
                = @comic.synopsis
              %h4.price
                %b
                  Price:
                - if @comic.price > 0
                  = @comic.price
                  €
                - else
                  Free!
              %p
                %b
                  Category:
                = @comic.category
              %p
                %b
                  Autor:
                = @comic.user.full_name
              %p
                %b
                  Last publication:
                - if @comic.publications.last.present?
                  = @comic.publications.last.created_at.strftime('%d-%m-%Y')
                - else
                  This comic does not have any publication yet

              .action
                - if @comic.price > 0 && !@comic.paid_by?(current_user)
                  = link_to(pay_comic_path(@comic), class: 'btn btn-primary') do
                    = icon('shopping-cart')
                    Buy now!
                - if @is_fav
                  =link_to delete_favourite_comic_path(@comic), type: 'button', class: 'btn btn-danger' do
                    %span.fa.fa-times
                    Remove from favourites
                - else
                  =link_to save_favourite_comic_path(@comic), type: 'button', class: 'btn btn-success' do
                    %span.fa.fa-heart
                    Mark as favourite
    .col-md-2
      .sidebar-nav-fixed.pull-right.affix
        = image_tag(image_path('banner.gif'), class: 'd-inline-block advertising')


