%nav.navbar.navbar-expand-lg.comics-nav
  =link_to(comics_path, class: 'navbar-brand') do
    = image_tag(image_path('logo-green-lantern.png'), height: 30, width: 30)
    WebComic
  %button.navbar-dark.navbar-toggler{'data-target': '#navbarSupportedContent', 'data-toggle': 'collapse', type: 'button'}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'New Comic', new_comic_path, class: 'btn btn-secondary', type: 'button'
      %li.nav-item{class: ('active' if action_name == 'index')}
        = link_to 'Newest', comics_path, class: 'nav-link', type: 'button'
      %li.nav-item{class: ('active' if action_name == 'top_rated')}
        = link_to 'Top rated', top_rated_comics_path, class: 'nav-link', type: 'button'
      %li.nav-item{class: ('active' if action_name == 'free')}
        = link_to 'Free', free_comics_path, class: 'nav-link', type: 'button'
      %li.nav-item{class: ('active' if action_name == 'favourites')}
        = link_to 'Favourites', favourites_comics_path, class: 'nav-link', type: 'button'
    %form.form-inline.my-2.my-lg-0
      = search_form_for @q do |f|
        %div.my-search-form
          = f.search_field :title_cont, placeholder: 'Search title', class: 'form-control mr-sm-2'
          = f.button type:'submit', class: 'btn btn-outline-success my-2 my-sm-0' do
            = icon('search')

    %div
      = link_to(destroy_user_session_path, method: :delete, class: 'btn btn-secondary my-search-form') do
        -#=icon('sign-out')
        Log Out
